.body {
	background-color: #E5E5E5;
}

.container2 {
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 16pt;
	font-family: "Josefin Sans";
}

.clear { !important
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}
.row {
	display: flex;
	flex-flow: row-wrap;
	justify-content: center;
	align-items: center;
}

.col-sm-12 {
	display: flex;
	justify-content: center;
}

@font-face {
   font-family: "Josefin Sans", sans-serif;
} 

.container {
	background-color: white;
}

.navbar-btn {
	display: inline-block;
	background-color: white;
	border-radius: 25px;
	font-size: 16pt;
	font-family: "Josefin Sans";
	height: 40px;
	width: 85px;
}

.navbar-btn:focus {
	outline: 0px;
}

.party-btn {
	display: inline-block;
	justify-content: center;
	background-color: white;
	border-radius: 25px;
	font-size: 16pt;
	font-family: "Josefin Sans";
	height: 40px;
	width: 110px;
}

.party-btn:focus {
	outline: 0px;
}